backend/api-gateway/node_modules
backend/api-gateway/package-lock.json
backend/api-gateway/*.log
backend/api-gateway/*.gz

backend/test-service/node_modules
backend/test-service/package-lock.json
backend/test-service/*.log
backend/test-service/*.gz

backend/user-service/node_modules
backend/user-service/package-lock.json
backend/user-service/*.log
backend/user-service/*.gz

backend/menu-management-service/node_modules
backend/menu-management-service/package-lock.json
backend/menu-management-service/*.log
backend/menu-management-service/*.gz
.env
mongodb_data